<section id="reviews" class='container'>
    <h1>Movie Information</h1>
    {{#with reviews}}
        <div class="review">
                <div class="column-right">
                    <h3>Title:  {{title}}</h3>
                    <p>Director:  {{director}}</p>
                    <p>Release Year: {{year}}</p>
                    <p>Description: {{description}}</p>
                    {{!-- <iframe id="reviewStats"> --}}
                        <p>Thumbs Up: {{thumbsUp}}</p>
                        <p class ='p_last'>Thumbs Down: {{thumbsDown}}</p>
                        <button class="btn btn-reverse" data-target="#addModal">Add Review</button>
                    </iframe>
                </div>
                <img src={{poster}} width="300" height="450">
                <div class="modal" id="addModal">
                    <div class="review">
                        <h3 class='modal-title'>Please add a review for: 
                            <i>{{title}}</i>
                        </h3>
                        <div class="column-right">
                            <input class='btn btn-reverse' id="modal-button" type="submit" value="Submit Review" form='addForm'>
                            <button class="btn btn-reverse" id="cancel" data-target="#addModal">Cancel</button>
                        </div>
                        <form action="/movies/id" method=POST id='addForm'>
                            <label for="thumbsUp">
                                <input type="radio" id="thumbsUp" name="review" value="thumbsUp">
                                Thumbs Up
                            </label>
                            <label for="thumbsDown">
                                <input type="radio" id="thumbsDown" name="review" value="thumbsDown">
                                Thumbs Down
                            <label>
                        </form>
                    </div>
                </div>
                <div class="overlay"></div>
        </div>
     {{/with}}
</section>
<script>
    const btn = document.querySelector("[data-target]");
    const closeBtn = document.querySelector("#cancel");
    const overlay = document.querySelector(".overlay");
    const addReviewBtn = document.querySelector("#modal-button")

    btn.addEventListener("click", () => {
        document.querySelector(btn.dataset.target).classList.add("active");

        overlay.classList.add("active");
    });

    closeBtn.addEventListener("click", () => {
        document.querySelector(btn.dataset.target).classList.remove("active");
        overlay.classList.remove('active');
    });
    
    addReviewBtn.addEventListener("click", () => {
        document.querySelector("#reviewStats").contentWindow.location.reload(true);
        overlay.classList.remove('active');
    });
</script>
 