<section class='container'>
    <h1>Movie Information</h1>
{{!-- for each loops over gigs --}}
    {{#each movieInfo}}
    <div class="gig">
        <h3>Title:  {{title}}</h3>
        <p>Director:  {{director}}</p>
        <p>Release Year: {{year}}</p>
        <p>Description: {{description}}</p>
        <p>Thumbs Up: {{thumbsUp}}</p>
        <p>Thumbs Down: {{thumbDown}}</p>
    </div>
    {{else}}
    <p>No movie with this name.</p>
    {{/each}}
</section> 
